{% spaceless %}<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta charset="UTF-8"/>
  <title>{% block title %} Welcome {% endblock %}</title>
  {% block canonical %}{% endblock %}
  <meta name="description" content="{% spaceless %}{% block meta_description %}{% endblock %}{% endspaceless %}">
  <meta name="keywords" content="{% spaceless %}{% block meta_keywords %}{% endblock %}{% endspaceless %}">
  <meta name="robots" content="{% block meta_robots %}index, follow{% endblock %}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {% block meta_og %}
    <meta property="og:type" content="website"/>{% endblock %}
  {% block meta_twiter %}
    <meta property="twitter:card" content="summary"/>
    {% if twitter is defined %}
      <meta property="twitter:site" content="@{{ twitter }}"/>
    {% endif %}
    <meta name="twitter:domain" content="{{ url('_blog_default') }}">
  {% endblock %}
  {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="rss feed" href="{{ url('_blog_feed') }}"/>
  {% endblock %}
  <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
  {% include "BlogBundle::base.css.bootstrap.html.twig" %}
  {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% include "BlogBundle::base.js.jquery.html.twig" %}
{% include "BlogBundle::base.js.tinymce.html.twig" %}
{% block javascripts %}{% endblock %}
{% block analitycs %}{% endblock %}
</body>
</html>{% endspaceless %}