<footer id="footer">
  <div class="row-fluid">
    <div class="span2">
      <ul>
        <li><a href="{{ path('_blog_default') }}">Inicio</a></li>
        <li><a href="{{ path('_blog_archive') }}">Archivo</a></li>
        <li><a href="{{ path('_blog_feed') }}">RSS</a></li>
      </ul>
    </div>
  </div>
</footer>
