<div class="block">
  <h4>Etiquetas</h4>
  {{ render(controller('BlogBundle:Frontend\\Widget:tags')) }}
</div>
<div class="block">
  <h4>Enlaces</h4>
  {{ render(controller('BlogBundle:Frontend\\Widget:links')) }}
</div>