<footer id="footer">
    <div class="row-fluid">
        <div class="span2">
            <ul>
                <li><a href="{{ path('_default') }}">Inicio</a></li>
                <li><a href="{{ path('_about_us') }}">Acerca de</a></li>
                <li><a href="{{ path('_archive') }}">Archivo</a></li>
                <li><a href="{{ path('_feed') }}">RSS</a></li>
            </ul>
        </div>
    </div>
</footer>