language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

notifications:
  email:
    - daniel@desarrolla2.com

before_script:
  - composer update --prefer-source --dev --verbose --optimize-autoloader --profile
  - cp phpunit.xml.dist phpunit.xml
