<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{ item }}</td>
            <td>
                <a class="bnt btn-mini" href="{{ url('_blog_back_comment_publish', { 'id': item.id }) }}" title="publish"><i class="icon-ok"></i></a>
                    <a class="bnt btn-mini" href="{{ url('_blog_back_comment_unpublish', { 'id': item.id }) }}" title="unpublish"><i class="icon-remove"></i></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td>No hay elementos</td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
