<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>n</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{ item.post.name }}</td>
            <td>{{ item.n }}</td>
            <td>
                <a class="bnt btn-mini" href="{{ url('_blog_backend_post_edit', { 'id': item.post.id }) }}" title="edit"> <i class="icon-edit"></i> </a>
                <a class="bnt btn-mini" href="{{ url('_blog_backend_post_preview', { 'id': item.post.id }) }}" title="preview" target="_blank"> <i class="icon-eye-open"></i> </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td>No elements</td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
