{% extends "::frontend.html.twig" %}
{% block title %} Últimos twits publicacos {% endblock%}
{% block content %}
    <header>
        <h2><a href="{{ url('_twitter_default') }}">Últimos twits</a></h2>            
    </header>
    {% for twit in twits %}
        {% include 'BlogBundle:Frontend/Twitter:item.html.twig' with {'twit': twit} %}
    {% else %}
        <p>No hay elementos</p>
    {% endfor %}
{% endblock %}

