<article>    
    {% if twit %}
        <p class="twit">
            {{ twit | raw }}
            <small>
                el <time datetime="{{ twit.getPubDate | date('c') }}">
                {{  twit.getPubDate | localeDate('long') }} a las {{  twit.getPubDate | localeDate('none', 'short') }}</time>
            </small>
        </p>        
    {% else %}
        <p>No se pudo conectar</p>
    {% endif %}
</article>