{% extends "::frontend.html.twig" %}
{% block title %} Elementos más valorados ayer {% endblock %}

{% block content %}
  <article class="report row">
    <header>
      <h2><a href="">Elementos más valorados ayer</a></h2>
    </header>

    <p>
      Estas son las entradas que fueron mejor valoradas ayer, solo se cuentan los votos obtenidos durante el día
      de ayer.
    </p>
  </article>

  {% for item in items %}
    {% include 'BlogBundle:Frontend/Post:item.html.twig' with {'post': item.post} %}
  {% else %}
    <p>No hay elementos</p>
  {% endfor %}
  </ul>
{% endblock %}
