{% extends "::backend.html.twig" %}
{% block content %}
<h1>Banner creation</h1>

<form action="{{ url('_blog_backend_banner_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ url('_blog_backend_banner') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
