<article class="post">    
    <p>
        <a href="{{ path('_archive_page' , 
        { 'year' : result.date.format('Y'), 'month': result.date.format('m') }) }}">{{ result.date | localeCustomDate('short') }}</a>, {{ result.n }} elemento. 
    </p>        
</article>