{% extends "::frontend.html.twig" %}
{% block title %} {{ tag }} {% endblock%}
{% block content %}
    {% for post in pagination %}
        {% include 'BlogBundle:Frontend/Post:item.html.twig' with {'post': post} %}
    {% else %}
        <p>No hay elementos</p>
    {% endfor %}

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}

{% block rss %}
    <link rel="alternate" type="application/rss+xml" title="{{ tag }} RSS Feed"
          href="{{ url('_feed_tag', { 'slug' : tag.slug }) }}" />
{% endblock %}
