<div class="block">
  <h4>Buscar</h4>

  <form id="search-widget" action="/search" method="get">
    <input type="text" id="q" name="q" required="required"/>
  </form>
</div>
<div class="block">
  <h4>Últimas entradas</h4>
  {{ render(controller('BlogBundle:Frontend\\Widget:latestPost')) }}
</div>

<div class="block">
  <h4>Entradas relacionadas</h4>
  {{ render(controller('BlogBundle:Frontend\\Widget:latestPostRelated', { 'post': post })) }}
</div>

<div class="block">
  <h4>Últimos comentarios</h4>
  {{ render(controller('BlogBundle:Frontend\\Widget:latestComment')) }}
</div>