<p>Etiquetas: 
    {% for tag in tags %}
        <strong><a href="{{ url('_tag', { 'slug' : tag.slug }) }}" title="{{ tag }}">{{ tag }}</a></strong> 
    {% else %}
        No tiene etiquetas.
    {% endfor %}            
</p>