<article class="row">
  <h3>¿Te gustó esta entrada?</h3>

  <p>
  <span id="rating">
  <a class="rating" href="#" data-url="{{ path('_blog_rate', {'entity': 'Post', 'id': post.id , 'rate': '+1'}) }}">
    <img src="/bundles/blog/img/like.png" class="rating"/>
  </a>
  <a class="rating" href="#" data-url="{{ path('_blog_rate', {'entity': 'Post', 'id': post.id , 'rate': '-1'}) }}">
    <img src="/bundles/blog/img/not-like.png" class="rating"/>
  </a>
  </span>
  </p>
</article>