{% extends "BlogBundle::layout.html.twig" %}
{% block title %} About US {% endblock %}
{% block main %}
  <header>
    <h2><a href="{{ url('_about_us') }}">About US</a></h2>
  </header>
  <p>Please redefine this template</p>
{% endblock %}
