{% extends "BlogBundle::layout.html.twig" %}
{% block title %} Politica de cookies {% endblock %}
{% block content %}
  <header>
    <h2><a href="{{ url('_cookies') }}">Politica de cookies</a></h2>
  </header>
  <p>Please redefine this template</p>
{% endblock %}