{% extends "BlogBundle::layout.html.twig" %}
{% block title %} FAQ {% endblock %}
{% block main %}
  <header>
    <h2><a href="{{ url('_faq') }}">FAQ</a></h2>
  </header>
  <p>Please redefine this template</p>
{% endblock %}
