<ul>
  {% for post in posts %}
    <li>
      <a href="{{ url('_view', { 'slug' : post.slug }) }}">{{ post }}</a>
      <small> el
        <time datetime="{{ post.createdAt | date('c') }}">
          {{ post.createdAt | localeDate('long') }}</time>
      </small>
    </li>
  {% else %}
    <li>No hay elementos</li>
  {% endfor %}
</ul>
