<ul id="links">
    {% for link in links %}
        <li><a href="{{ link.url }}" target="_blank" title="{{ link }}">{{ link }}</a></li>
    {% else %}
        <li>No hay elementos</li>
    {% endfor %}
</ul>