{% if related %}
  <article>
    <h4>Related</h4>
    <div class="row-fluid">
      {% for post in related %}
        <div class="span4">
          {% if post.hasImage %}
            <img src="{{ post.image }}" alt="{{ post }}"/>
          {% endif %}
          <a href="{{ path('_blog_view', { 'slug' : post.slug }) }}">{{ post }}</a>
        </div>
      {% else %}
        <p>No elements</p>
      {% endfor %}
    </div>
  </article>
{% endif %}
