<ul id="tags">
  {% for tag in tags %}
    <li><a href="{{ path('_blog_tag', { 'slug' : tag.slug }) }}" title="{{ tag }}">{{ tag }}</a></li>
  {% else %}
    <li>No elements</li>
  {% endfor %}
  <li><a href="{{ path('_blog_all_tag') }}">all</a></li>
</ul>
