{% extends "BlogBundle::layout.html.twig" %}
{% block content %}
  <article class=" row">
    <header>
      <h1>Gracias</h1>
    </header>
    <p>
      Hemos recibido tu comentario, un administrador lo examinará para
      aprobarlo lo antes posible, puedes continuar navegando por los últimos
      elementos publicados en el sitio.
    </p>
    {{ render(controller('BlogBundle:\\Widget:latestPost')) }}
  </article>
{% endblock %}
