{% extends 'BlogBundle:Backend/Comment:new.html.twig' %}

{% block content %}
<form class="well" action="{{ url('_blog_back_comment_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    {% include 'BlogBundle:Backend/_blog_back_Comment:edit.form.html.twig' with {'form': form } %}
</form>
<form action="{{ url('_blog_back_comment_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button data-toggle="modal" href="#confirm-delete" class="btn btn-danger">Delete</button>
    {% include 'BlogBundle:Backend/Modal:confirm-delete.html.twig' %}
</form>
{% endblock %}
