<div id="confirm-delete" class="modal hide fade in" style="display: none;">
    <div class="modal-header">
        <a data-dismiss="modal" class="close">×</a>
        <h3>Delete item</h3>
     </div>
     <div class="modal-body">
        <p>You are about to delete one item, this procedure is irreversible.</p>
        <p>Do you want to proceed?</p>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn">Cancel</button>
        <button  class="btn btn-danger" type="submit">Delete</button>
    </div>
</div>
