<ul>
  <li><a href="{{ path('_blog_report_most_rated',{'period': 'last-week' } ) }}">Lo más valorado</a></li>
  <li><a href="{{ path('_blog_report_most_viewed',{'period': 'last-week' } ) }}">Lo más leído</a></li>
  <li><a href="{{ path('_blog_report_most_commented',{'period': 'last-week' } ) }}">Lo más comentado</a></li>
</ul>
