{% extends "::backend.html.twig" %}
{% block content %}
<h1>Author creation</h1>

<form action="{{ url('author_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ url('author') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
