body {
    padding-top: 60px;
}

.w100 {
    width: 100%;
}

textarea {
    width: 700px;
}

textarea.h300 {
    height: 300px;
}

textarea.h500 {
    height: 500px;
}

div#backend_post_type_tags label {
    display: inline-block;
    margin: 3px 15px 3px 3px;
}

.hide {
    display: none;
}