body {
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
}

body, td {
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

pre {
    font-size: 16px;
    border-radius: 8px;
    display: block;
    background: black;
    color: #eaeaea !important;
    padding: 15px;
    margin: 15px auto;
}

pre code {
    white-space: pre;
    font-size: 16px;
    color: #eaeaea !important;
}