{% extends "BlogBundle::frontend.html.twig" %}
{% block content %}
  <article class="post">
    <header>
      <h2>Thank you</h2>
    </header>
    <p>
      We have received your comment, an administrator will check to
      approve as soon as possible, you can continue to browse recent
      items posted on the site.
    </p>
    {{ render(controller('BlogBundle:Frontend\\Widget:latestPost')) }}
  </article>
{% endblock %}
